:root {
    --font: "Montserrat", sans-serif;
    --font-negrito: 30px bold;
    --margin-esquerda: 1% 0 0 1%;
    --border-radius: 8%
}

html {
    margin: 0 15%;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

.titulo {
    display: flex;
    flex-direction: column;
}


.subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

section {
    margin: var(--margin-esquerda);
    width: 100%;
}



h3 {
    font-size: 20px;
    font: var(--font);
}


/* começo img */

.imagem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    gap: 16px;
}

.imagenzona {
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
}

.imagens {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;

}

.fotos {
    display: flex;
    max-height: 50%;
    width: auto;
    min-height: 20%;
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    border: #000 solid 1px;
}

.ftsmarg{
    margin: 0 0 16px 0;

}


/* Fim img */

.desc {
    padding: 2% 0;
}

.desc h3 {
    font: var(--font);
}

.final {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.oferece {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icones {
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    width: 30%;
    padding: 2% 0;
}

.preco {
    border: black solid 1px;
    padding: 2% 5%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: var(--border-radius);
    text-align: center;
    width: 25%;
}

.preco button {
    border: 0;
    border-radius: var(--border-radius);
    font-weight: 700;
    background-color: rgb(183, 177, 177);
    padding: 8%;
}